/* styles.css */

/* Default Light Mode */
body {
  background-color: #ffffff; /* Light background */
  color: #000000; /* Dark text */
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text */
  }
  .btn-primary {
    background-color: #6200ea; /* Purple button */
    border-color: #6200ea; /* Purple border */
  }
  .form-control {
    background-color: #333; /* Dark input background */
    color: white; /* Light input text */
    border-color: #444; /* Darker border */
  }
  hr {
    border-color: #666; /* Lighter border for hr */
  }
  input::placeholder {
    color: #aaa; /* Placeholder color */
  }
}

/* Protected content initially hidden */
#protected-content {
  display: none;
}

/* Container styling */
.container {
  margin-top: 50px;
}

/* Spacing for paragraphs and headers */
h1, h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}
